
:root {
  --main-font: "Epilogue", sans-serif;
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Epilogue-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Epilogue-Bold.ttf") format("ttf");
  font-display: swap;
}

@keyframes spinner-outside {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}
@keyframes spinner-center {
  from {transform: rotate(0);}
  to {transform: rotate(-360deg);}
}
@keyframes spinner-inner {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

@keyframes sticks {
  from {transform: rotate(140deg);}
  to {transform: rotate(150deg);}
}

@keyframes burger-menu-item {
  from {transform: translateX(-200px);}
  to {transform: translateX(0);}
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  direction: rtl;
  padding: 0;
  margin: 0;
  font-family: "Epilogue", sans-serif;
}

.button {
  display: inline-block;
  padding: 12px 16px;
  color: #000000;
  font-size: 32px;
  background-color: #a1d4a4;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0px 0px 5px 2px #9ce15f;
}

.button:active {
  box-shadow: inset 0 0 5px black;
}

.page-header {
  padding: 20px 40px;
  background-color: #000000;
  height: 100vh;
  overflow: hidden;
}

.main-logo-wrapper {
  display: block;
  max-width: min-content;
  max-height: min-content;
  color: #ffffff;
}

.main-logo-wrapper:hover {
  color: #e6a1c2;
}

.main-nav {
  display: flex;
  align-items: center;
  
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-right: auto;
  list-style-type: none;
}

.nav-item {
  margin-right: 40px;
}

.nav-link {
  color: #ffffff;
  font-size: 24px;
  line-height: 40px;
  text-decoration: none;
}

.nav-link:hover {
  color: #e6a1c2;
  text-decoration: underline;
  transition: 0;
}

.burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-burger {
  display: none;
  margin-right: auto;
}

.nav-burger .nav-list {
  display: none;
  overflow: hidden;
}

.nav-burger .nav-item {
  animation: burger-menu-item .6s;
}

.nav-burger .nav-item:nth-child(1) {
  animation-delay: -.2s;
  -webkit-animation-delay: -.2s;
  -moz-animation-delay: -.2s;
}

.nav-burger .nav-item:nth-child(2) {
  animation-delay: -.1s;
  -webkit-animation-delay: -.1s;
  -moz-animation-delay: -.1s;
}

.nav-burger .nav-item:nth-child(3) {
  animation-delay: -.2s;
  -webkit-animation-delay: -.2s;
  -moz-animation-delay: -.2s;
}

.nav-burger .nav-item:nth-child(4) {
  animation-delay: -.1s;
  -webkit-animation-delay: -.1s;
  -moz-animation-delay: -.1s;
}

.nav-burger .nav-list-opened {
  position: absolute;
  top: 80px;
  left: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: none;
  z-index: 1;
}

.burger-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 4px;
  background-color: #ffffff;
}

.burger-line:not(:last-child) {
  margin-bottom: 6px;
}

.burger-open-first-line {
  transform: rotate(45deg) translateY(12px);
}

.burger-open-second-line {
  transform: scale(0);
}

.burger-open-third-line {
  transform: rotate(-45deg) translateY(-12px);
}

.header-main-content {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-image-wrapper {
  position: relative;
  display: block;
  margin-top: 60px;
  margin-left: 100px;
  width: 400px;
  height: 400px;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  transition: .4s;
}

.header-image:nth-of-type(1) {
  background-image: url("../images/outside-spinner.png");
  background-size: 350px 350px;
  animation: spinner-outside 20s infinite linear;
}

.header-image:nth-of-type(2) {
  background-image: url("..//images/center-spinner.png");
  background-size: 236px 236px;
  animation: spinner-center 15s infinite linear;
}

.header-image:nth-of-type(3) {
  background-image: url("../images/inner-spinner.png");
  background-size: 117px 117px;
  animation: spinner-inner 10s infinite linear;
}

.text-wrapper {
  margin: 0 auto;
  padding: 40px;
  font-family: var(--main-font);
  color: #E6A1C2;
  font-size: 40px;
  font-weight: 400;
}

.text {
  min-width: 150px;
  max-width: 250px;
  background: -webkit-linear-gradient(145deg, #E6A1C2 -12.35%, rgba(230, 161, 194, 0) 166.16%);
  background-clip: text;
  text-shadow: 2px -2px 15px #e6a1c2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  line-height: 60px;
  text-transform: uppercase;
}

.page-main {
  padding: 0;
  margin: 0;
}

.section {
  position: relative;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.pink-bordered-section {
  color: #ffffff;
  background-color: #13103B;
  border: 40px solid #C5789D;
}

.about-section {
  position: relative;
  display: flex;
  color: #ffffff;
  z-index: 1;
}

.title {
  max-width: 430px;
  font-size: 62px;
  line-height: 64px;
}

.subtitle {
  max-width: 430px;
  margin: 60px 0;
}

.about-image {
  position: absolute;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: initial;
  z-index: -1;
  transition: .4s;
}

.about-image:nth-child(1) {
  left: 60px;
  top: 45px;
  width: 310px;
  height: 310px;
  background-image: url("../images/big-dish.png");
  animation: spinner-center 25s infinite linear;
}

.about-image:nth-child(2) {
  left: 460px;
  top: 75px;
  width: 146px;
  height: 146px;
  background-image: url("../images/medium-dish.png");
  animation: spinner-inner 22s infinite linear;
}

.about-image:nth-child(3) {
  left: 540px;
  top: 255px;
  width: 115px;
  height: 115px;
  background-image: url("../images/small-dish.png");
  animation: spinner-outside 17s infinite linear;
}

.about-image:nth-child(4) {
  left: 400px;
  top: 365px;
  width: 115px;
  height: 115px;
  background-image: url("../images/small-dish-1.png");
  animation: spinner-center 15s infinite linear;
}

.about-image:nth-child(5) {
  left: 150px;
  bottom: 150px;
  width: 342px;
  height: 82px;
  background-image: url("../images/sticks.png");
  transform: rotate(145deg);
  
  animation: sticks .8s infinite linear;
  animation-direction: alternate-reverse;
}

.downcity-section {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: .4s;
}

.picture-wrapper {
  width: 100%;
  min-height: 50vh;
  background-image: url("../images/downcity-picture.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  filter: blur(4px);
}

.downcity-section::before {
  content: "בואו הצטרפו אלינו וגלו את העולם שלנו!";
  max-width: 780px;
  position: absolute;
  margin: 20px;
  
  letter-spacing: 0.1em;
  color: #ffffff;
  text-shadow: 0px 0px 8px #000000;
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  z-index: 1;
}

.nigth-life-section .title {
  max-width: 600px;
}

.nigth-life-section .section-wrapper {
  z-index: 1;
}

.nigth-life-section .section-wrapper::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: block;
  width:100%;
  height: 385px;
  background-image: url("../images/nightlife.png");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: left;
  z-index: -1;
}

@media (max-width: 1200px) {

  .title {
    font-size: 40px;
  }

  .about-image:nth-child(3) {
    opacity: 0.2;
  }

  .about-image:nth-child(5) {
    bottom: 70px;
  }
}

@media (max-width: 1140px) {

  .about-image:nth-child(2) {
    opacity: 0.2;
  }

  .nigth-life-section .section-wrapper::after {
    opacity: 0.4;
  }
}

@media (max-width: 910px) {
  .header-image-wrapper {
    right: 50%;
    transform: translateX(50%);
    transition: .5s;
  }

  .main-logo-wrapper + .nav-list {
    display: none;
  }

  .nav-burger {
    display: inline-block;
  }

  .about-image {
    opacity: 0.2;
  }

  .downcity-section::before {
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    max-width: 360px;
    margin: 40px 70px;
  }


}

@media (max-width: 565px) {
  .about-image:nth-child(5) {
    left: 40px;
    bottom: 55px;
  }
  
  .header-image-wrapper .header-image:nth-of-type(1) {
    opacity: .4;
  }

  .header-image-wrapper .header-image:nth-of-type(2) {
    opacity: .5;
  }

  .header-image-wrapper .header-image:nth-of-type(3) {
    opacity: .6;
  }

  .picture-wrapper {
    background-attachment: scroll;
  }
}



@media (max-width: 420px) {
  .page-header {
    padding: 20px;
  }

  .nav-burger .nav-list-opened {
    left: 20px;
  }

  .text-wrapper {
    margin: 0;
    padding: 0;
  }

  .pink-bordered-section {
    padding: 20px;
    border-width: 20px;
  }

  .downcity-section::before {
    font-size: 32px;
  }
}